.page {
  composes: page from 'chora/styles/page.css';
}

.banner {
  composes: banner from 'chora/styles/main.css';
}

.content {
  composes: content-full from 'chora/styles/main.css';
  min-height: 25vh !important;
  align-items: end !important;
}

.contentFull {
  composes: content-full from 'chora/styles/main.css';
  min-height: 25vh !important;
  align-items: start !important;
}

.contentFull h2 {
  margin: 0.5em 0;
}

.contentFull h3 {
  color: var(--color-text);
}

.contentFull h4 {
  color: var(--color-text);
}

.contentFull ul {
  list-style: none inside none;
}
